html,
body {
  font-family: $default-font;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 320px;
}

.content {
  flex-grow: 1;
}

.scroll-table,
.table-responsive-sm {
  overflow-x: auto;
}

.footer {
  background-color: $c-footer-bg;
  color: $c-footer-text;
  padding: 15px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .footer-logo {
    padding-right: 15px;
  }

  .footer-logo,
  .footer-info {
    @media (max-width: 768px) {
      padding-bottom: 10px;
    }
  }

  img {
    max-width: 64px;
    padding-right: 10px;

    @media (max-width: 768px) {
      max-width: 48px;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding-left: 10px;
  }
}

input, select, option, textarea {
  padding: 7px 5px !important;
  font-size: 16px !important;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  a {
    cursor: pointer;
  }

  .logo {
    margin-right: 15px;
  }

  .navbar-brand {
    font-weight: 500;
  }
}

.menu-items {
  @media (max-width: 1024px) {
    display: none;
  }
}

.toggle-menu {
  display: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 30px;
  background: $c-burger-bg;
  outline: none;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 768px) {
    transform: scale(.7);
    top: 10px;
  }

  span {
    display: block;
  }
}

.sandwich {
  width: 28px;
  height: 3px;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;

  .sw-topper {
    position: relative;
    top: 0;
    width: 28px;
    height: 3px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
  }

  .sw-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }

  .sw-footer {
    position: relative;
    width: 28px;
    height: 3px;
    top: 13.5px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
}

.sandwich.active {
  .sw-topper {
    top: 9px;
    transform: rotate(-45deg);
  }

  .sw-bottom {
    top: 6px;
    transform: rotate(45deg);
  }

  .sw-footer {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
  }
}

.top-menu {
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0,0,0,.85);
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  ul {
    margin-top: 100px;

    li {
      display: block;
      font-size: 24px;
      margin: 10px 0;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.content {
  position: relative;
}

h2 {
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.pagination {
  background-color: rgba($c-pagination-bg,0.7);
  margin: 5px 0;
  border-radius: 0;
}

button {
  box-shadow: none;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}