.header {
  background-color: $c-login-bg;
  color: #fff;
  padding: 15px;

  a {
    color: $c-login-text;
    font-weight: 300;

    &:hover {
      color: $c-login-links-hover;
    }
  }
}

.login-content {
  filter: grayscale(90%);
}

.login-content,
.main-content {
  background: linear-gradient( rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2)100%), url("../img/login-bg.jpg") no-repeat;
  background-size: cover;

  .row {
    justify-content: center;
    padding: 50px 15px;
  }

  .login-box,
  .registr-box{
    background-color: rgba(0,0,255,0.7);
    border-radius: 15px;
    color: $c-login-text;
    padding: 25px;

    .text-muted {
      color: $c-login-text-muted;
    }
  }

  .registr-box {
    display: none;
  }
}