.parts-content {
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../img/parts.jpg") no-repeat;
  background-size: cover;

  .notes {
    li {
      background: #fffcd2;
    }
  }
}
