
.navbar{
	background-color: #000;
	color: white;
	font-size: 20px;
	min-height: 55px;
}
.logo{
	padding: 8px 15px;
}
.logo img{
    vertical-align: top;
}
.logo span{
	padding-left: 4px;
	margin-top: -2px;
	font-size: 32px;
	color: rgba(255,0,0,.6);
	font-family: "RobotoBold", sans-serif;
	display:inline-block;
}

body{
	 background: url("../img/bglogin.png") repeat top center #000;
	 margin: 0;
}
.collapse li a:hover{
	color:rgba(255,0,0,.6);
}