// Colors

$c-login-text: #fff;
$c-tabs-text: #fff;
$c-out-text: rgba(0,0,0,0.85);
$c-table-bg: rgba(0,0,0,0.45);
$c-login-bg: #53535e;
$c-burger-bg: #060621;
$c-page-bg: #53535e;
$c-login-links-hover: #b6b6db;
$c-login-text-muted: #c5c5d6 !important;
$c-footer-bg: #2a2a3a;
$c-footer-text: #fff;
$c-pagination-bg: #fff;

// Fonts

$default-font: 'Roboto', sans-serif;

